@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8) !important;
  position: absolute;
  color: white;
  z-index: 1000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Press Start 2P", cursive !important;
}

.overlay_container {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
  h1 {
    font-size: 1rem;
  }
  .overlay_container_inner {
    display: grid;
    place-items: center;
    height: 20vh;
  }
}
