@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.pin_status {
  position: absolute;
  font-family: "Poppins" !important;
  display: grid;
  background-color: white;
  width: 100dvw;
  height: 10dvh;
  place-items: center;
  transform: translate(-50%, -532%);
  background-color: transparent;
  color: white;

  .pin_card {
    display: grid;
    place-items: center;
    /* border-radius: 0.25rem; */
    width: 100%;
    height: 100%;
    padding-bottom: 0.4rem;
    background: linear-gradient(45deg, #1d1d1d, #000);
    border: 1px solid rgba(255, 255, 255, 0.25);
    

    .icon {
      width: 80px !important;
    }
  }
}
